@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');

html,
body {
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Noto Serif JP', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #E6E6E6;
    padding: 5px;
    height: 100%;
    border-radius: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 3em;
    background-color: #CED8F6;
    border-radius: 20px;
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #00008B;
    font-weight: 800;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 20px;
    flex-basis: 750px;
}

.myImg {
    margin-top: 150px;
    padding-left: 20px;
    flex-basis: 450px;
}

.knowledge {
    display: flex;   
    justify-content: center;
}

.article {
    margin-top: 2em;   
}


p {
    font-size: 1.2rem;
    color: #08298A;
    padding-left: 20px;
}

.text {
    font-size: 1rem;
    color: #585858;
}

h2 {
    text-align: center;
    color: #424242;
}

h1 {
    color: #08298A;
    text-align: center;
    font-size: 2rem;
}

.footer {
    background-color: #5882FA;
    flex: 0 0 auto;
}

.textnav:hover {
    color: black;

}
.header {
    border-radius: 20px;
    height: 75px;
    

   }
   .flex-container{
    border-radius: 20px;
    background-color: white;
   
   }
   li a{
 
 color: #00008B;
}
   
   a:hover{
    color: #0000FF;
    transition: 0.3s ease-in-out color;
   }
   h1{
    margin-top: 0;
    font-size: 40px;
   }
   .logo{
   padding-top: 5px;
    align-items: center;
   }
   p{
    font-size: 25px;
   }
   .myImg{
    align-items: center;
    margin-top: 0;
    padding-left: 80px;
   }
   nav {
    margin-right: 100px;
   }
   .footer {
    border-radius: 20px;
    background-color: black;
    
   }
   .data {
    margin-bottom: 100px;
   }
   h2 {
    color: white;
    font-size: 27px;
   }
.knowledge{
    font-size: 25px;
    background-color: #DCDCDC;
    border-radius: 20px;
}
.text{
    font-size: 20px;
}